<table>
    <tr>
        <th>Nome do País</th>
        <th>Capital</th>
        <th>Região</th>
        <th>População</th>
        <th>Bandeira</th>
    </tr>
    <tr *ngFor="let pais of paises">
        <td>{{ pais.name.common }}</td>
        <td *ngIf="pais.capital && pais.capital.length > 0">{{ pais.capital[0] }}</td>
        <td *ngIf="!pais.capital || pais.capital.length === 0">N/A</td>
        <td>{{ pais.region }}</td>
        <td>{{ pais.population }}</td>
        <td><img [src]="pais.flags.png" alt="Bandeira de {{ pais.name.common }}" width="50"></td>
    </tr>
</table>